.app {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

.task-input {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}
.todoh{
  color: rgba(0,0,0,.6);
}